  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
    scroll-padding-top: calc(4.5rem - 1px);
  }

  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

  :root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #1abc9c;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #1abc9c;
    --bs-secondary: #2c3e50;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 26, 188, 156;
    --bs-secondary-rgb: 44, 62, 80;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 0.125rem;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.5rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.75rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #1abc9c;
    --bs-link-hover-color: #15967d;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
  }

  body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  h6,
  .h6,
  h5,
  .h5,
  h4,
  .h4,
  h3,
  .h3,
  h2,
  .h2,
  h1,
  .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
  }

  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }

  @media (min-width: 1200px) {

    h1,
    .h1 {
      font-size: 2.5rem;
    }
  }

  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }

  @media (min-width: 1200px) {

    h2,
    .h2 {
      font-size: 2rem;
    }
  }

  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }

  @media (min-width: 1200px) {

    h3,
    .h3 {
      font-size: 1.75rem;
    }
  }

  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }

  @media (min-width: 1200px) {

    h4,
    .h4 {
      font-size: 1.5rem;
    }
  }

  h5,
  .h5 {
    font-size: 1.25rem;
  }

  h6,
  .h6 {
    font-size: 1rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .mb-5 {
    margin-bottom: 3rem !important;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    padding: 16px 100px;
  }

  a {
    text-decoration: none;
  }

  .logo {
    color: inherit;
    font-size: 30px;
    font-weight: bold;
  }

  .menu {
    display: flex;
    list-style: none;
  }

  .menu li {
    margin: 10px;
  }

  .menu li a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    border: 2px;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    display: block;
  }

  .menu li a:hover {
    color: #1abc9c;
    transition: 0.4s;
  }

  .bars {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }

  #activeBars {
    display: none;
  }

  .masthead .masthead-avatar {
    width: 15rem;
  }

  .masthead {
    padding-top: calc(2rem + 74px);
    padding-bottom: 6rem;
    text-align: center;
    color: white;
  }

  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 2.75rem;
  }

  .masthead .masthead-subheading {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .masthead .masthead-avatar {
    width: 15rem;
  }

  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }

  .divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
  }

  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }

  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }

  .divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
  }

  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }

  .divider-custom.divider-light .divider-custom-icon {
    color: #fff;
  }

  .text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
  }

  .text-center {
    text-align: center !important;
  }

  .page-section {
    padding: 6rem 0;
  }

  .page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }

  .justify-content-center {
    justify-content: center !important;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .mb-5 {
    margin-bottom: 3rem !important;
  }

  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
  }

  .portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
  }

  .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
  }

  .text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  }

  .d-flex {
    display: flex !important;
  }

  .align-items-center {
    align-items: center !important;
  }

  .justify-content-center {
    justify-content: center !important;
  }

  .h-100 {
    height: 100% !important;
  }

  .w-100 {
    width: 100% !important;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .ms-auto {
    margin-left: auto !important;
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .mt-4 {
    margin-top: 1.5rem !important;
  }

  .btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 0.125rem;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.5rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
  }

  .btn-outline-light {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
  }

  .me-2 {
    margin-right: 0.5rem !important;
  }

  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }

  .mb-3 {
    margin-bottom: 1rem !important;
  }

  .form-floating {
    position: relative;
  }

  .form-floating>.form-control,
  .form-floating>.form-control-plaintext,
  .form-floating>.form-select {
    height: 5.5rem;
    line-height: 1.25;
  }

  .form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 0.125rem solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    .form-floating>label {
      transition: none;
    }
  }

  .form-floating>.form-control,
  .form-floating>.form-control-plaintext {
    padding: 1.5rem 0;
  }

  .form-floating>.form-control::-moz-placeholder,
  .form-floating>.form-control-plaintext::-moz-placeholder {
    color: transparent;
  }

  .form-floating>.form-control::placeholder,
  .form-floating>.form-control-plaintext::placeholder {
    color: transparent;
  }

  .form-floating>.form-control:not(:-moz-placeholder-shown),
  .form-floating>.form-control-plaintext:not(:-moz-placeholder-shown) {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .form-floating>.form-control:focus,
  .form-floating>.form-control:not(:placeholder-shown),
  .form-floating>.form-control-plaintext:focus,
  .form-floating>.form-control-plaintext:not(:placeholder-shown) {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .form-floating>.form-control:-webkit-autofill,
  .form-floating>.form-control-plaintext:-webkit-autofill {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .form-floating>.form-select {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    opacity: 0.65;
    transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
  }

  .form-floating>.form-control:focus~label,
  .form-floating>.form-control:not(:placeholder-shown)~label,
  .form-floating>.form-control-plaintext~label,
  .form-floating>.form-select~label {
    opacity: 0.65;
    transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
  }

  .form-floating>.form-control:-webkit-autofill~label {
    opacity: 0.65;
    transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
  }

  .form-floating>.form-control-plaintext~label {
    border-width: 0.125rem 0;
  }


  .form-floating input.form-control,
  .form-floating textarea.form-control {
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
  }

  .form-floating input.form-control:focus,
  .form-floating textarea.form-control:focus {
    box-shadow: none;
  }

  .form-floating label {
    font-size: 1.5rem;
    color: #6c757d;
  }

  .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
  }

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1abc9c;
    --bs-btn-border-color: #1abc9c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #16a085;
    --bs-btn-hover-border-color: #15967d;
    --bs-btn-focus-shadow-rgb: 60, 198, 171;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #15967d;
    --bs-btn-active-border-color: #148d75;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1abc9c;
    --bs-btn-disabled-border-color: #1abc9c;
  }

  .btn:disabled,
  .btn.disabled,
  fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
  }

  .me-auto {
    margin-right: auto !important;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }


  .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  .btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
  }

  .mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }

  .footer .lead a {
    text-decoration: underline;
    color: #1abc9c;
  }

  footer .lead a:hover {
    color: #15967d;
  }

  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
  }

  small,
  .small {
    font-size: 0.875em;
  }

  .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .copyright {
    background-color: #1a252f;
  }

  input,
  button,
  select,
  optgroup,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  textarea {
    resize: vertical;
  }

  textarea.form-control {
    min-height: calc(1.5em + 1rem);
  }

  @media screen and (max-width: 768px) {
    nav {
      flex-wrap: wrap;
    }

    .menu {
      display: none;
    }

    .menu li {
      margin-left: 0;
      margin-bottom: 5px;
    }

    .bars {
      display: unset;
    }

    #activeBars:checked+.menu {
      display: block;
      width: 100%;
    }
    
  }