* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  background-color: #0793e8;
  color: white;
  height: 400px;
}

.content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%) translateX(-50%);
  line-height: 30px;
}

.container div:not(.content) {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
